.card {
    background-color: aquamarine;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    width: 10rem;
    text-align: center;
    margin: 0.8rem 0.8rem;
}
.card-img {
    width: 100%;
}
.card-title {
    font-size: 1.2rem;
}